<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
        <div class="md-footer-copyright">
            powered by
            <a href="https://gitlab.com/geoff32" target="_blank">Geoffroy Herb</a>
            -
            <a href="https://www.soat.fr/" target="_blank">SOAT</a>
        </div>
        </div>
    </div>
</footer>